{% extends 'base.html' %}
{% block title %}
  <title>{{ story.title }}</title>
{% endblock %}
{% block content %}
  <main class="container-fluid">
    <section class="container">
      {% if story.url %}
        <article class="container ratio ratio-1x1">
          <iframe src="{{ story.url }}" class="" frameborder="0" ></iframe>
        </article>
        {% else %}
        {% autoescape off %}
           <h3 class="">{{ story.title }}</h3>
          <p class="">
            {{ story.text }}
          </p>
        {% endautoescape %}
      {% endif %}
    </section>
    <div class="container mt-3 p-0">
      <hr class="p-0">
      <div class="row m-auto">
        <button class="col-auto rounded-3 d-block" data-bs-toggle="collapse" data-bs-target="#comments"><span class="badge bg-dark">{{ story.reviews }}</span> Comments</button>
        <span class="not d-block col-auto rounded-3 mx-2">
          <span class="align-top">Score <span class=" badge bg-dark">{{ story.score }}</span></span>
          <span  class="align-center"><a href="" class="material-icons not text-decoration-none">arrow_upward</a></span>
          <span class="align-center"><a href="" class="material-icons not text-decoration-none">arrow_downward</a></span>
        </span>

        {% if request.user.is_authenticated %}
         <button class=" col-auto d-block" data-bs-target="#comment" data-bs-toggle="collapse">Comment</button>
          {% else %}
            <button class=" col-auto d-block"><a href="{% url 'user:login' %}" class="">Login to Comment</a></button>
          {% endif %}
    </div>
      <hr class="p-0">
    </div>
    <div class="container collapse my-2" id="comment">
      <textarea url="" id="t{{ story.id }}" cols="30" rows="4" class="form-control"></textarea>
      <button class="col-auto add_comment mt-2" url="{% url 'news:comment' %}" sid="{{ story.id }}">Submit</button>
    </div>
    <section class="container collapse" id="comments">
      {% if story.comments.all %}
          {% for comment in story.comments.all %}
            {% include 'comment.html' with comment=comment %}
          {% endfor %}
      {% endif %}
    </section>
  </main>
{% endblock content %}