{% extends 'base.html' %}
{% block title %}
  <title>{{ story.title }}</title>
{% endblock %}
{% block content %}
  <main class="container-fluid">
    <section class="container">
      {% if story.url %}
        <article class="container ratio ratio-1x1">
          <iframe src="{{ story.url }}" class="" frameborder="0" ></iframe>
        </article>
        {% else %}
        {% autoescape off %}
           <h3 class="">{{ story.title }}</h3>
          <p class="">
            {{ story.text }}
          </p>
        {% endautoescape %}
      {% endif %}
    </section>
    <div class="container mt-3 p-0">
      <hr class="p-0">
      <div class="row m-auto">
        <button class="col-auto rounded-3 me-2" data-bs-toggle="collapse" data-bs-target="#comments"><span class="col-auto">{{ story.reviews }} Comments</span></button>
        <span class="not col-auto rounded-3 ms-2"><span class="not align-text-top">Score {{ story.score }}</span>
          <span class="align-text-top">
            <a href="" class="align-text-top"><span class="material-icons not">arrow_upward</span></a>
            <a href="" class="align-text-top"><span class="material-icons not">arrow_downward</span></a>
          </span>
        </span>
        {% if request.user.is_authenticated %}
          <button class="ms-1 col-auto" data-bs-target="#comment" data-bs-toggle="collapse">Comment</button>
        {% else %}
          <button class="ms-3 col-auto"><a href="{% url 'user:login' %}" class="">Login</a></button>
        {% endif %}
    </div>
      <hr class="p-0">
    </div>
    <div class="container collapse my-2" id="comment">
      <textarea url="" id="t{{ story.id }}" cols="30" rows="4" class="form-control"></textarea>
      <button class="col-auto add_comment mt-2" url="{% url 'news:comment' %}" sid="{{ story.id }}">Submit</button>
    </div>
    <section class="container collapse" id="comments">
      {% if story.comments.all %}
          {% for comment in story.comments.all %}
            {% include 'comment.html' with comment=comment %}
          {% endfor %}
      {% endif %}
    </section>
  </main>
{% endblock content %}