{% extends 'base.html' %}

{% block navbar %}
{% endblock navbar %}
{% block content %}
  <main class="container my-5">
    <form action="{% url 'user:login' %}" class="col-md-6 mx-auto" method="post">
      {% csrf_token %}
     {%if form.errors%}
          <div class="is-invalid col-auto my-1">
            Correct the error(s) Below
            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <p class="is-invalid">{{ error }}</p>
              {% endfor %}
           {% endif %}
          </div>
        {% endif %}
      <div class="mb-3">
        <label for="form.username.id_for_label" class="form-label">Username</label>
        {{ form.username }}
        {% if form.username.errors %}
          {% for err in form.username.errors %}
            <div class="is-invalid">{{ err }}</div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="form.password.id_for_label" class="form-label">Password</label>
        {{ form.password }}
        {% if form.password.errors %}
          {% for err in form.password.errors %}
            <div class="is-invalid">{{ err }}</div>
          {% endfor %}
        {% endif %}
      </div>
        <button class="btn d-block mb-3 ms-auto">Login</button>
        <input type="hidden" name="next" value="{{ next }}">
        <p class="">Forgot Password? click <a href="{%  url 'user:reset' %}">here</a> to reset your password. Not registered? click <a href="{% url 'user:signup' %}" class="">here</a> to sign up</p>
    </form>
    <div class="mx-auto position-relative col-md-6 mt-3">
      <hr class="m-auto" style="height: 10px; background-color: white">
      <p class="position-absolute top-50 start-50 translate-middle">OR</p>
    </div>
      <button class="d-block btn btn-primary btn-lg mx-auto google mt-3"><a href="{% url 'social:begin' 'google-oauth2' %}" class="">Login With Google</a></button>
  </main>
{% endblock content %}