html {
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    /*overflow-x: hidden;*/
}
body{
  background-color: white;
  margin: 0;
  padding: 0;
}

tfoot{
    background-color: #183a1d;
    color: #f6c453;
}

tfoot p{
    text-align: center;
}

.hed{
    background-color: #943d24 !important;
    color: #f6c453;
}

button, .btn, .not{
    background-color: #183a1d;
    color: #f6c453;
    border-radius: 5%;
	padding: 5px 10px;
}

button > a{
    color: #f6c453 ;
    text-decoration-line: none;
}

table{
    margin: auto;
    padding: 0;
}

thead tr th h1{
    font-size: 2vw;
    text-align: center;
    padding: 0;
    margin: auto;
}
td{
    padding-left: 1vw;
}

tbody td{
    padding: 0 25vw;
}

tbody td{
    padding: 0 10px;
}