{% extends 'email.html' %}

{% block body %}
  <tr>
  <td>
    <div class="">
      <p class="">
        hi {{ user.username|title }}
      </p>
      <p>You requested for a password reset</p>
      <p>Follow the link below to reset your password</p>
      <button class=""><a href="http://{{ domain }}{% url 'user:password_reset' uidb64=uid token=token %}" class="btn1">Reset</a></button>
      <p>copy this link and paste on your browser if the button is not working http://{{ domain }}{% url 'user:password_reset' uidb64=uid token=token %}</p>
    </div>
  </td>
  </tr>
{% endblock %}