<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  {% block title %}
    <title>Hacker's Digest</title>
  {% endblock  %}
</head>
<body>
  {% csrf_token %}
  <script class="">
  document.addEventListener('readystatechange', e => {
      if (e.target.readyState === "complete") {
          let elems = document.getElementsByClassName('add_comment')
          for(let el of elems){
            el.addEventListener('click', async e => {
              let url = el.getAttribute('url')
              let data = {}
              let comment = el.getAttribute('cid')
              let t;
              if(comment){
                  t = document.getElementById(`t${comment}`)
                  let text = t.value
                  data['comment_id'] = comment
                  data['text'] = text
              }
              let story = el.getAttribute('sid')
              if(story){
                  t = document.getElementById(`t${story}`)
                  let text = t.value
                  data['story_id'] = story
                  data['text'] = text
              }

              let user_id = {{request.user.id}}
              data['user_id'] = user_id
              data = JSON.stringify(data)
              const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
              let headers = {'X-CSRFToken': csrftoken, 'Content-Type': 'application/json'}
              let res = await fetch(url, {method: 'POST', mode: "same-origin", headers, body: data, })
              res = await res.json()
              if(res){t.value = ''; location.reload()}
      })}}
  })
</script>
  <div class="shell">
    {% block header %}
      <header class="row container-fluid p-0 mx-0 mb-3">
      <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
          <a href="{% url 'news:home' %}" class="navbar-brand">Hackers Digest</a>
          <button class="navbar-toggler btn" data-bs-toggle="collapse" data-bs-target="#nav-contents">
            <span class="navbar-toggler-icon bg-body"></span>
          </button>
          <div class="collapse navbar-collapse" id="nav-contents">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a href="{% url 'news:home' %}" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'news:stories' %}" class="nav-link">Top Stories</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'news:ask' %}" class="nav-link">Ask Stories</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'news:show' %}" class="nav-link">Show Stories</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'jobs:jobs' %}" class="nav-link">Jobs</a>
              </li>
            </ul>
            <div class="navbar-nav ">
                <div class="nav-item dropdown">
                  {% if request.user.is_authenticated %}
                    <a href="" class="nav-link dropdown-toggle text-uppercase"  data-bs-toggle="dropdown">{{ user.username }}</a>
                    {% else %}
                      <a href="" class="nav-link dropdown-toggle"  data-bs-toggle="dropdown">Sign In</a>
                  {% endif %}
                  <ul class="dropdown-menu">
                    {% if not request.user.is_authenticated %}
                      <li class=""><a href="{% url 'signup' %}" class="dropdown-item">Signup</a></li>
                      <li><a href="{% url 'login' %}" class="dropdown-item">Login</a></li>
                      {% else %}
                        <li><a href="{% url 'logout' %}" class="dropdown-item">Logout</a></li>
                        <li><a href="{% url 'user_profile' request.user.id %}" class="dropdown-item">Profile</a></li>
                    {% endif %}
                  </ul>
                </div>
                <div class="nav-item"><span class="material-icons nav-link" data-bs-target="#search" data-bs-toggle="collapse">search</span></div>
            </div>
          </div>
        </div>
      </nav>
        <div class="col-md-4 col-md-offset-8 col-sm-auto ms-auto p-2 collapse" id="search">
          <form action="{% url 'news:search' %}" class="col-auto" method="get">
            <div class="mb-1 d-flex">
              <input type="text" class="form-control" placeholder="search" name="search" style="border-style: none">
              <button class="me-auto align-self-center btn" style="border-style: none" type="submit"><span class="mx-auto align-baseline material-icons">search</span></button>
            </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="true" name="all" checked>
                <label class="form-check-label" for="inlineCheckbox">Everywhere</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="true" name="ask">
                <label class="form-check-label" for="inlineCheckbox1">Ask</label>
              </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="true" name="show">
              <label class="form-check-label" for="inlineCheckbox2">Show</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="true" name="job">
              <label class="form-check-label" for="inlineCheckbox3">Job</label>
            </div>
          </form>
        </div>
    </header>
    {% endblock header %}
    {% block content %}
    {% endblock content %}
  </div>
  <div class="foot">
    {% block paginate %}
        {% if is_paginated %}
          <div class="container-fluid d-flex justify-content-center mt-4 mx-auto">
            <nav class="">
            <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
          {% endif %}
          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="page-item active"><span class="page-link">{{ i }}</span></li>
            {% else %}
              <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
          {% else %}
            <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
          {% endif %}
        </ul>
      </nav>
          </div>
        {% endif %}
      {% endblock paginate %}
    <footer class="row mx-0 p-3" >
      <p class="col-12 m-auto text-center">&copy;Hackers Digest</p>
    </footer>
  </div>
</body>
</html>