
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/email.css">
    <title>Hackers Digest</title>
  </head>
  <body>
    <table class="">
      <thead>
        <tr class="head">
          <th class="hed"><h1 class="">Hackers Digest</h1></th>
      </tr>
      </thead>
      <tbody>
        <tr class="">
          <td class="">
            <div class="">
              <p class="act">
                hi my name is
              </p>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="">
          <td>
            <footer class="">
              <p class="">&copy; Hackers Digest</p>
            </footer>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
